name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
      - uses: gradle/actions/wrapper-validation@v3
      - run: chmod +x gradlew
      - name: Build
        run: ./gradlew clean build shadowJar --no-daemon
      - uses: actions/upload-artifact@v4
        with:
          name: pinevote-jar
          path: build/libs/*.jar
